#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: var(--gap-s);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    z-index: 1001;
}

#navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Center logo */
#navCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

/* Left logo group */
#navLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-s);
    text-decoration: none;
    color: var(--color-text);
}

.logo-icon {
    display: block;
    width: 4rem;
}

.logo-text {
    font-size: var(--font-s);
}

/* Right links */
#navLinks {
    display: flex;
    flex-direction: row;
    gap: var(--gap-s);
    align-items: center;
}

.navText {
    font-size: var(--font-s);
    text-decoration: none;
    color: var(--color-text);
}

#navLogo,
.navText {
    cursor: pointer;
}

@media (max-width: 800px) {
    .logo-text,
    .navText {
        font-size: var(--font-m);
    }

    .logo-icon {
        width: 28px;
        height: 28px;
    }
}
